html, body {
    margin: 0;
    padding: 0;
}

html{ 
    height:100%;
}

body{ 
    overflow:auto;
    height:100%;
}

@font-face {font-family: 'Brown-Bold'; src: url("https://github.com/rugServer/rugServer/tree/main/src/Brown-Bold.otf"); src: url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.woff") format("woff"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.svg#Brown Bold") format("svg"); }
@font-face {font-family: 'Brown-Light'; src: url("https://github.com/rugServer/rugServer/tree/main/src/Brown-Light.otf"); src: url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.woff") format("woff"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.svg#Brown Bold") format("svg"); }
@font-face {font-family: 'Brown-Regular'; src: url("https://github.com/rugServer/rugServer/tree/main/src/Brown-Regular.otf"); src: url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.woff") format("woff"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4150d76a852e1c349e0b6fe15f29d9ca.svg#Brown Bold") format("svg"); }
@font-face {font-family: 'GoodDogNew'; src: url("https://raw.githubusercontent.com/rugServer/rugServer/main/src/GoodDog.otf") format("embedded-opentype"), url("https://raw.githubusercontent.com/rugServer/rugServer/main/src/GoodDog.woff") format("woff"), url("https://raw.githubusercontent.com/rugServer/rugServer/main/src/GoodDog.ttf") format("truetype"); }

body {
  min-height: 100%;
  font-family: 'GoodDogNew';
  color: #e1575c;
  background: #fcf3d3;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.goo {
    font-family: 'GoodDogNew';
    font-size: 20px;
    line-height: 1.2em;
}


h1 {
   font-family: 'GoodDogNew';
   line-height: 1em;
}



.left-back-button {
    padding:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    top: 0px;
    float: left;
}


.facebook-instagram {
    font-family: 'Brown-Bold';
    padding-left:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    padding-bottom: 40px;
}



.mail {
    font-family: 'Brown-Bold';
    padding-right:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    bottom: 0px;
    right: 0px;
    padding-bottom: 40px;
}



.main-description-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-
}

.main-description {
    justify-content: center;
    font-size: 20px;
    font-family: 'GoodDogNew';
    line-height: 1.4em;
    text-align: left;
}   

hr.new1 {
    border-top: 6px solid #e1575c;
}

.main-description .big {
    font-size: 100px;
    font-family: 'GoodDogNew';
    line-height: 0.9em;
    margin:0px;
    text-align: center
}   

.main-description .big2 {
    font-size: 48px;
    font-family: 'GoodDogNew';
    line-height: 0.9em;
    text-align: left;
    margin:0px;
}   

.main-description .big3 {
    font-size: 24px;
    font-family: 'GoodDogNew';
    line-height: 0.9em;
    text-align: left;
} 

.hr {
    border: 2px solid #e1575c;
}


.fullscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.column {
    height:100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.middle {
  width: 100%;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.background-header {
    width: 45%;
    z-index: 2;
}


.gmaps-mobile {
    display:none;
 
}



@media only screen and (max-width: 900px) {

    .gmaps-desktop {
        display:none;
    }

    .gmaps-mobile {
        display:inline;
     
    }
    
    

    .main-description .big {
        padding-top:90px;
        font-size: 66px;
        font-family: 'GoodDogNew';
        line-height: 0.9em;
        margin:0px;
        text-align: center
    }  

    .main-description .big2 {
        font-size: 36px;
        font-family: 'GoodDogNew';
        line-height: 0.9em;
        text-align: left;
        margin:0px;
    } 

    .background-header {
        width: 80%;
        z-index: 2;
        padding-bottom:30px;
    }

    .main-description-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;

    }

    .facebook-instagram {
        display: none;
    }

    .mail {
        display: none;
    }
    

}


.caption {
    width: 30vw;
}



.item {
    padding:1em;
    display:flex;
    background:orange;
}
  
.home-description {
    width: 24vw;
    position: absolute;
    left: 40px;
    bottom: 14vw;
    font-size: 16px;
    line-height: 1.2em;
    color: #e1575c;
    text-transform: uppercase;
    z-index:10;
}



.top {
    width: 100%;
    text-align: center;
    padding-top:40px;
}

.button-video {
    margin-top:44vh;
    width: 100%;
    color:#073DA5;
    padding-bottom:40px;
    text-align: center;
    font-size:50px;
    z-index: 50;
}





.button-video:hover a{
    color: #000000;
}

.button-video:hover a{
    color: #000000;
}

.button-video:hover a::after{
    background-color: #000000;
}



.bottom {
    bottom:0px;
    padding-top:100px;
    padding-bottom:100px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding-bottom:40px;
}

.middle {
  flex: 1;
  display: flex;
  align-self:center;
  align-items:center;
  margin: 10px 0;
}



.centered {
    position: absolute;                                 
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

.rotating-img {
    padding: 0px;
    margin: 0px;
    animation-name: rotatingLogo;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 5;
}
  
@keyframes rotatingLogo {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

span{
    font-family: 'Brown-Bold';
}

.sliding-span {
    position: relative;
    display: inline-block;
    overflow: hidden;
}


.sliding-p {
    transform: translate(0px,100px);
    animation-name: slidingDescr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    margin:5px;
}
  
@keyframes slidingDescr {
    from {transform: translate(0px,100px);}
    to {transform: translate(0px,0px);}
}

a {
    color: #e1575c;
    text-decoration: none;
    
    display: inline-block;
    padding: 3px;
    position: relative;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:#e1575c;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

.black-text {
    color:#000000
}

.hide {
    display:none;
}

@media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
}
  


@media only screen and (max-width: 900px) {
    .column {
        height:60vh;
    }

    .centered {
        position: absolute;                                 
        left: 50%;
        top: 24vh;
        transform: translate(-50%, -50%);
    }
}


@media only screen and (max-width: 800px) {
    .logo-mobile {
        z-index: 999;
        width: 60%;
        flex: 2;
    }

    .home-description {
        width: 90vw;
        position: absolute;
        left: 20px;
        top: 56vh;
        font-size: 16px;
        line-height: 1.2em;
        color: #e1575c;
        text-transform: uppercase;
        z-index:10;
    }
    
    .main-description-container {
        padding-top:100px;
    }
        

    
    
}
